@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group ">
                <a asp-controller="Home" asp-action="Index">
                    <li class="list-group-item list-group-item-action m-lg-1 ">Home</li>
                </a>
                <a asp-action="Index" asp-controller="Teacher">
                    <li class="list-group-item list-group-item-action m-lg-1 ">Teachers</li>
                </a>
                <a asp-controller="Student" asp-action="Index">
                    <li class="list-group-item list-group-item-action m-lg-1 ">Exams</li>
                </a>
            </ul>
            <img class="mt-5" src="https://www.ucarecdn.com/e9acae8c-c140-43e5-8084-d9aecf189f94/-/resize/700x/"
                style="width: 30em;" alt="img" y>



        </div>
        <div class="col-md-7 ">
            <p class="text-dark m-4" style="line-height: 2.1em; text-indent: 5em;">Hoş geldiniz!

                Öğrencilerin ve hocaların buluşma noktası olan ÖdevOrtağım'a hoş geldiniz! Sizlere, eğitim hayatınızın
                her adımında destek olmak için buradayız.

                Öğrencilik hayatı bazen zorlayıcı olabilir, ancak endişelenmeyin! Artık ödevleriniz için doğru hoca ile
                kolayca iletişim kurabileceksiniz. Eğitim sürecinizi daha verimli ve keyifli hale getirecek bir deneyime
                hazır olun.

                Neden ÖdevOrtağım'u tercih etmelisiniz?

                Hocalarınızla Doğrudan İletişim: Ödevlerinizle ilgili sorularınızı sormak, danışmanlık almak veya geri
                bildirim almak için hocalarınızla doğrudan iletişim kurabilmeniz için özel bir mesajlaşma platformu
                sunuyoruz. Herhangi bir sorunuz olduğunda, hocalarınız sadece bir mesaj uzaklığında olacak.

                Uygun ve Esnek Hizmetler: Ödevlerinizin özgünlüğünü ve kalitesini korurken, bütçenize uygun hizmetler
                sunuyoruz. Sitemizde yer alan hocalarımızın, çeşitli konularda uzmanlıkları bulunmaktadır ve sizin
                ihtiyaçlarınıza en uygun olanını seçebilirsiniz. Ayrıca, zamanlamayı da sizinle birlikte planlayarak,
                ödev teslim tarihlerinize uyum sağlamak için esneklik sunuyoruz.

                Güvenli ve Gizli: Gizliliğiniz bizim için önemlidir. Tüm kişisel ve öğrenci bilgileriniz kesinlikle
                gizli tutulacak ve üçüncü şahıslarla paylaşılmayacaktır. Verilerinizin güvenliği konusunda en üst
                düzeyde önlemler aldığımızdan emin olabilirsiniz.

                Nasıl başlayabilirsiniz?

                ÖdevOrtağım'a başlamak için yapmanız gerekenler oldukça basittir. Öncelikle ücretsiz bir hesap oluşturun
                ve ardından ödevinizin detaylarını paylaşın. Sistemimiz, ihtiyaçlarınıza en uygun hocaları otomatik
                olarak eşleştirir ve size en iyi hizmeti sunmak için size özel çözümler sağlar.

                Unutmayın, başarıya giden yolda size destek olmak için buradayız. Hocalarla kolay iletişim, kaliteli
                hizmetler ve güvenli bir ortam sunan ÖdevOrtağım'a hoş geldiniz!

                Umarım bu metin, hayali bir ödevleri hocalarla buluşturan site.</p>
        </div>

