@model Entity.Teacher
<form method="post">
    <div class="container my-5">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row my-3">
            <div class="col-2 ">
                <label asp-for="Name"></label>
            </div>
            <div class="col ">
                <input type="text" asp-for="Name">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2">
                <label asp-for="Majority"></label>
            </div>
            <div class="col">
                <input type="text" asp-for="Majority">
            </div>
        </div>
        <div class="row my-3 ">
            <div class="col-2">
                <label asp-for="ImageUrl"></label>
            </div>
            <div class="col">
                <input type="text" asp-for="ImageUrl">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2">
                <label asp-for="Price"></label>
            </div>
            <div class="col">
                <input type="text" asp-for="Price">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2">
                <label asp-for="Gender"></label>
            </div>
            <div class="col">
                <select class="form-select" aria-label="Default select example" asp-for="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>

                </select>
            </div>
        </div>
        <div class="row my-3 d-flex justify-content-center col-5 btn-lg">
            <input class="btn btn-success btn-lg" type="submit">
        </div>
    </div>
</form>